/* Style normalizer */
@import url(./vendor/normalize/normalize.css);

/* Fonts */
@import url(./vendor/fonts/font.css);

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f6f8fa;
  box-sizing: border-box;
}